[submodule "plugins/bufstop"]
	path = plugins/bufstop
	url = https://github.com/mihaifm/bufstop.git
[submodule "plugins/ctrlp.vim"]
	path = plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/vim-plugin-viewdoc"]
	path = plugins/vim-plugin-viewdoc
	url = https://github.com/powerman/vim-plugin-viewdoc.git
[submodule "plugins/vim-misc"]
	path = plugins/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "plugins/vim-session"]
	path = plugins/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "plugins/vim-easymotion"]
	path = plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "plugins/vim-togglecursor"]
	path = plugins/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor.git
[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugins/vim-visual-star-search"]
	path = plugins/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/vim-maximizer"]
	path = plugins/vim-maximizer
	url = https://github.com/vim-scripts/vim-maximizer.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/nerdtree-git-plugin"]
	path = plugins/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "plugins/vim-extradite"]
	path = plugins/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "plugins/vim-indentwise"]
	path = plugins/vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise.git
[submodule "plugins/vim-semantic-highlight"]
	path = plugins/vim-semantic-highlight
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "plugins/vim-gitgutter.git"]
	path = plugins/vim-gitgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/vim-signature.git"]
	path = plugins/vim-signature
	url = https://github.com/kshenoy/vim-signature.git 
[submodule "plugins-disabled/vim-yaml"]
	path = plugins-disabled/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
